@import "tailwindcss";

@layer theme {
  :root {
    --color-primary: #4F46E5;
    --color-primary-hover: #3B31E2;
    --color-background: #101622;
    --color-container: #1E293B;
    --color-error: #E33629;
    --color-white: #FBFBFB;
    --color-input-bg: #0F172A;
    --color-border: #374151;
  }
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
